/* ----------------------------------------
				STYLES
---------------------------------------- */

/* ----------------------------------------
				PRELOADER
---------------------------------------- */

.loaderArea
{
	background: linear-gradient(0deg, #52deee, #0B4C5F);
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100000;
}

.loader
{
	height: 40px;
	width: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -20px;
}
 
.loader:before,
.loader:after
{
	content: "";
	height: 40px;
	width: 40px;
	border: 8px solid rgba(255,255,255,.5);
	border-radius: 10px;
	position: absolute;
	top: 0;
}
 
.loader:before
{
	animation: animate 2s infinite linear;
}
 
@keyframes animate
{
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
.loader:after
{
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2
{
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

/* ----------------------------------------
				HEADER
---------------------------------------- */

.header
{
	width: 100%;
	height: 1000px;
	background: url(../img/background.png) no-repeat;
	background-position-x: center;
	overflow: hidden;
}

.header__panel
{
	width: 100%;
	height: 166px;
}

.container-adaptive
{
	width: 85%;
	margin: 0px auto;
	overflow: hidden;
}

.ewq
{
	margin: 17px 0px;
	float: left;
}

.dsa
{
	color: white;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 60px;
	margin: 53px 0px 0px 150px;
	font-weight: 100;
}

.qwe
{
	margin: 50px 0px 0px 250px;
}

.asd
{
	display: block;
	color: white;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 99px;
	margin: 25px 85px;
	font-weight: normal;
}
/* Working out by Denis Matveev */